<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="connectionStringXml" value="C:\Users\rivaa\source\repos\cSharpLearning\knowledgeBaseApp\knowledgeBaseLibrary\Data\PostRepository.xml"/>  
    <add key="connectionStringSql" value="Server=DESKTOP-0DAGLUJ\SQLEXPRESS;Database=knowledgeDb;Trusted_Connection=True"/>
  </appSettings>
</configuration>